<table width="50%" align="center" >
  <tr>
    <td>
      <div class="page page_paginated panel">
        <table width="100%" border="0">
          <tr>
            <td colspan="2" >
              <h2 style="float: left;" >People</h2>
              <div class="clear"></div>
              <hr/>
            </td>
          </tr>
          <tr>
            <td width="130" >
              Professor:
            </td>
            <td>
              Ying Zhang, joy@cs.cmu.edu
            </td>
          </tr>
          <tr>
            <td width="130" >
              Developer & Master(Now PhD) Student:
            </td>
            <td>
              Pang Wu, pang.wu@sv.cmu.edu
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div style="height: 30px;"></div>
            </td>
          </tr>
          <tr >
            <td colspan="2">
              Copyright (c) 2010-2012, Pang Wu & Beware Group, Carnegie Mellon Silicon Valley.
            </td>

          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
