
<table width="80%" align="center" >
  <tr>
    <td>
      <div class="page page_paginated" style="width: auto; height: auto; margin-top: 30px;">
        <h2>Content Page</h2>
        <hr/>

        <table width="100%" >

          <tr>

            <td>
              <%=  @content_page.content %>
            </td>
          </tr>

        </table>
        <center>
          <%= link_to 'Edit', edit_content_page_path(@content_page) %> |
          <%= link_to 'Back', content_pages_path %>
        </center>
      </div>
    </td>
  </tr>
</table>