<table width="70%" align="center" >
  <tr>
    <td>
      <div class="page page_paginated" style="width: auto; height: auto; margin-top: 30px;">
        <div style="font-size: 1.6em; font-weight: bold; float: left; " >Export Result</div>
        <div class="clear" style="height: 20px;" ></div>
        <hr/>

        <table width="90%" cellpadding="3px" style="margin-left: 20px;" >
          <tr>
            <td colspan="2">
              <div class="fake_text_area" style="height: 400px;" ><%= @result %></div>
            </td>
          </tr>
          

        </table>

        <hr/>
      </div>
    </td>
  </tr>
</table>