<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.sv.mobisens_ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="edu.cmu.sv.lifelogger.GoogleMapActivity.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="edu.cmu.sv.lifelogger.GoogleMapActivity.permission.MAPS_RECEIVE" />
    <uses-permission android:name="edu.cmu.sv.mobisens_ui.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <receiver
            android:name="edu.cmu.sv.lifelogger.AnnotationReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="my.action.string" />
                <!-- and some more actions if you want -->
            </intent-filter>
        </receiver>

        <activity
            android:name="edu.cmu.sv.lifelogger.FBLoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="edu.cmu.sv.lifelogger.TagActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="edu.cmu.sv.lifelogger.ProfileActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="edu.cmu.sv.lifelogger.GoogleMapActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >

        </activity>
        <activity
            android:name="edu.cmu.sv.lifelogger.TimelineTestActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="edu.cmu.sv.lifelogger.Wizard1"
            android:label="@string/title_activity_wizard1" >
        </activity>
        <activity
            android:name="edu.cmu.sv.lifelogger.DashboardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.cmu.sv.lifelogger.XYChartBuilder"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.cmu.sv.lifelogger.PieChartBuilderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.cmu.sv.lifelogger.TimelineActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.cmu.sv.mobisens_ui.VerticalBarChart"
            android:label="@string/title_activity_vertical_bar_chart" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="edu.cmu.sv.lifelogger.BarChartActivityLevel"
            android:label="@string/app_name" >
        </activity>

        <!-- Goolge Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDAgPvKbUR9yWjimMwKbKDJ_aajBhFL7A8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="edu.cmu.sv.mobisens_ui.TestStaticMap"
            android:label="@string/title_activity_test_static_map" >
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>